includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 8
	paths:
		- src
#	reportUnmatchedIgnoredErrors: false #no other way to silence platform-specific non-warnings
	parallel:
		maximumNumberOfProcesses: 1
